/Source/ConsoleTest/Debug
/Temp

/Output/debug/*.ilk

/Output/debug/*.pdb

/Output/debug/*.exe

/Output/release/*.pdb


/Source/debug/*.ilk
/Output/release/*.exe

/Output/debug/*.lib

/Output/debug/*.exp
/Output/debug/Console.dll

/Output/release/Console.dll

*.user
*.suo
*.ncb
/Output/debug/Common.dll

/Output/release/Common.dll

/Output/release/*.lib

/Output/release/*.exp

/Source/*.opensdf

/Source/*.sdf
