/Source/ConsoleTest/*.user
/Source/ConsoleTest/Debug
/Source/*.ncb
/Source/*.suo
/Temp

/Output/debug/*.ilk

/Output/debug/*.pdb

/Output/debug/*.exe

/Output/release/*.pdb

/Source/Console/*.user

/Source/debug/*.ilk
/Output/release/*.exe

/Output/debug/*.lib

/Output/debug/*.exp
/Output/debug/Console.dll

/Output/release/Console.dll
